.info_container{
    width: 50%;
    margin: 2.5em auto;
    padding: 2em 1em;
    border-radius: 20px;
    border: 1px solid var(--border-color);
}

.info_container .info{
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 2em;
}
svg{fill: var(--black-color) !important;}
.info_container .info p{color: var(--black-color)}

@media (max-width:600px) {.info_container{width: 90%;}}
