.sidebar{
    width: 0;
    padding: 0;
    background: var(--white-color);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 20;
    height: 100vh;
    transition: .3s ease;
}
.overlay{
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--overlay-dark-color);
    z-index: 15;
    transition: .3s ease;
}
body.sidebar_hidden  .overlay{
    opacity: 1;
    width: 100%;
    height: 100%;
}

.sidebar .nav_left{
    display: flex;
    padding: 0.5rem 0.3rem;
}
body.sidebar_hidden  .sidebar{
    width: 280px;
    padding: 0 .7rem;
}

.sidebar .link_container{
    overflow-y: auto;
    height: 100vh;
    padding: 1rem 0 2rem;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
}
.sidebar .link_container:hover{
    scrollbar-color: #e6e6e6 transparent;
}
.sidebar .link_section .link_item{
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0.37rem .75rem;
    margin-bottom: .25rem;
    color: var(--black-color);
    border-radius: .5rem;
    font-size: 0.938rem;
    white-space: nowrap;
    transition: all .3s ease;
}
.sidebar .link_section .link_item:hover{
    background: var(--light-grey-color);
}

.sidebar .link_section .link_item i{
    font-size: 1.4rem;
    margin-right: .63rem;
}
.sidebar .link_section .section_title{
    font-size: 0.938rem;
    font-weight: 600;
    color: var(--black-color);
    margin: 1rem 0 0.5rem 0.5rem;
}

.sidebar .section_separator{
    height: 1px;
    margin: .625rem 0;
    background: var(--light-grey-color);
}